@model Models.EF.Bill

<style>
    .downCount {
        margin: 5px auto;
        background: #ffffff;
        color: #000;
        text-align: center;
        display: inline-block;
        width: 15%;
        height: 25px;
        padding: 0;
        margin-right: -4px;
        border: none;
    }

    .upCount {
        background: #ffffff;
        color: #000;
        text-align: center;
        display: inline-block;
         width: 15%;
        height: 25px;
        padding: 0;
        margin-left: -4px;
        border: none;
    }

    .DeleteFood {
        text-decoration: none;
        color: #fff;
    }

        .DeleteFood:hover {
            text-decoration: none;
            color: #fff;
        }
    .export {
        margin-top: 5px;
        padding: 7px 14px;
        background-color: #5089b1;
        border-radius: 4px;
        color: #fff;
        outline-style: none;
        border-color:hsla(205, 38%, 50%, 0.67) hsla(80, 137%, 177%, 0.67);
        margin: 5px;
        float: right;
        text-decoration:none;
    }
    .export:hover{
        text-decoration:none;
        color:#fff;
    }
     .export1 {
        margin-top: 5px;
        padding: 7px 14px;
        background-color: #5089b1;
        border-radius: 4px;
        color: #fff;
        outline-style: none;
        border-color:hsla(205, 38%, 50%, 0.67) hsla(80, 137%, 177%, 0.67);
        margin: 5px;
        float: right;
        text-decoration:none;
    }
    .export1:hover{
        text-decoration:none;
        color:#fff;
    }
</style>
<script src="/Assets/Client/js/BillThanhToan.js"></script>
<script src="/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="/Assets/Admin/vendor/jquery/jquery-3.3.1.min.js"></script>
<div class="scrollbar" id="style-1">
    <div class="force-overflow">
        <table class="TableTT">
            <thead>
                <tr>
                    <th style="width:1%">STT</th>
                    <th style="width:20%">Tên món</th>
                    <th style="width:25%">Số lượng</th>
                    <th style="width:8%">DVT</th>
                    <th style="width:14%">Đơn giá</th>
                    <th style="width:10%">Thành tiền</th>
                    <th style="width:1%">Hủy món</th>

                </tr>
            </thead>
            <tbody class="bodyMon ">
                @{
                    var countstt = 0;
                    var tong = 0;

                    foreach (var item in Model.BillInfos)
                    {
                        foreach (var item2 in Model.Foodsbill)
                        {
                            if (item.idFood == item2.Food_id)
                            {
                                tong += Convert.ToInt32(item.count * item2.Price);
                                <tr id="row_@item.BillInfo_id">
                                    <td>@(countstt += 1) </td>
                                    <td data-id="@item.idBill"> @item2.Food_name </td>
                                    <td style="text-align:center">
                                        <button class="downCount" data-id="@item.BillInfo_id" data-role="@item.idBill" onclick="Giam(@item.BillInfo_id)">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input type="text" class="ChangValue" data-role="@item.idBill" onkeypress="return isNumberKey(event);" name="count" id="@item.BillInfo_id" data-id="@item.BillInfo_id" value="@item.count" style="text-align:center;width:24%;height: 25px;border: none;border-left: solid 1px #ccc;border-right: solid 1px #ccc;padding:0" />
                                        <button class="upCount" data-id="@item.BillInfo_id" data-role="@item.idBill" onclick="Tang(@item.BillInfo_id)">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                    <td style="text-align:center"> @item2.DVT_Name</td>
                                    <td>@string.Format("{0:0,0}", item2.Price)</td>
                                    <td>@string.Format("{0:0,0}", (item2.Price * item.count))</td>
                                    <td style="text-align:center">
                                        <a href="#" style="text-decoration:none;color:#fff" onclick="Xoamon(@item.BillInfo_id)" data-role="@item.idBill"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        }


                    }

                    <tr>
                        <td colspan="5"><b>Tổng</b></td>
                        <td>@string.Format("{0:0,0}", tong)</td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
    <div class="col">
        <div class="col">
            <button id="thanhtoan" name="thanhToan" type="submit" onclick="thanhtoan(@Model.Bill_id)">Thanh Toán</button>
        </div>
        <div class="col">
            @Html.ActionLink("Export", "Reports", new { ReportType = "Word", idbill = @Model.Bill_id }, new { @class = "export" })
        </div>

        <div class="col">

            <a href="#" class="export1" role="button" aria-pressed="true" onclick="huybill(@Model.Bill_id,@Model.idTable)">Hủy Bill</a>
        </div>
    </div>
</div>





